<body>

<main role="main">

 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><center>Bienvenue sur notre site !</center></h1>
              <p><center><I>Voici les dernières offres de chatons</I></center> </p>

        </div>
 </div>

    <div class="card-deck">
          <% @pictures.each do |p| %>
            <div class="col-4 "">
 <br>
              <div class="card text-center bg-light text-dark">
                <div class="card-header bg-dark text-white">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <h4 class="card-title"><%= p.name %></h4>
                    </li>
                  </ul>
                </div>
                  <div class="card-body">
                    <h4> Etat: <%= p.condition%></h4>
                    <h5> Prix :<%= p.price %> € </h5>
                    <br>
                    <p> Descriptions :<%= p.description %></p>
                  </div>
                  <% if user_signed_in? %>
                  <%= link_to "Voir l'article", controller: "pictures", action:"show", id: p.id %>
                  <% end %>
                </div>
              </div>
            <%end%>
   <br>
    </div>
</main>


</body>
